<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>Creatonomics</title>

  <!-- CSS <img class="logo-pojok" src="Image/logo7.png"> -->
  <link href="https://fonts.googleapis.com/css?family=Raleway:400,800" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="css/owl.carousel.min.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="css/font-awesome.min.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body style="background-image: url(Image/background.jpg); background-attachment: fixed;">
<div class="navbar-fixed">
  <nav class="white" style="background-color: #026AB0">
      <a id="logo-container" href="#" class="brand-logo font yellow-text logo-pojok"><img src="Image/logo7.png" height="40px;"></a>
      <ul class="right hide-on-med-and-down" style="margin-right: 100px;">
        <li><a class="yellow-text text-darken-2 font" href="#"><i class="material-icons left" style="margin-top: 3px">home</i>Home</a></li>
        <li><a class="yellow-text text-darken-2 font" href="#"><i class="material-icons left" style="margin-top: 4px">assignment</i>Information</a></li>
        <li><a class="yellow-text text-darken-2 font" href="#"><i class="material-icons left" style="margin-top: 3px">extension</i>Event</a></li>
 
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons black-text">menu</i></a>
  </nav>
</div>
  	  <ul id="nav-mobile" class="side-nav">
        <li><a href="#">Navbar Link</a></li>
      </ul>
      
      
      
<div class="">
	<div class="container">
		<div class="section">
			<div class="row">
				<h4 class="center-align font yellow-text text-darken-2"><b>INFORMATION</b></h4>
				<hr class="hr" style="border:solid rgba(0,0,0,0.20) 2px;">
			</div>
			<div class="row">
				<div class="col l4 m6 s12">
					<div class="card z-depth-3">
						<div class="card-content">
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione incidunt quo maiores deleniti delectus iste odio porro necessitatibus laborum odit labore enim, omnis nihil. Cum dolore quae eaque quaerat perspiciatis!
						</div>
					</div>
				</div>
				<div class="col l4 m6 s12">
					<div class="card z-depth-3">
						<div class="card-content">
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione incidunt quo maiores deleniti delectus iste odio porro necessitatibus laborum odit labore enim, omnis nihil. Cum dolore quae eaque quaerat perspiciatis!
						</div>
					</div>
				</div>
				<div class="col l4 m6 s12">
					<div class="card z-depth-3">
						<div class="card-content">
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione incidunt quo maiores deleniti delectus iste odio porro necessitatibus laborum odit labore enim, omnis nihil. Cum dolore quae eaque quaerat perspiciatis!
						</div>
					</div>
				</div>
				<div class="col l4 m6 s12">
					<div class="card z-depth-3">
						<div class="card-content">
							<div class="card-title font">
								<b>[EVENT] Pengunguman Peserta Lomba</b>
							</div>
							<p class="grey-text tanggal-card">12 Februari 2018</p>
							<div class="overflow-berita">
								<p>First of all, we'd like to thanks to all your participation in Creatonomics Business Creativity Competition 2017 😊</p>

							
							</div>
						</div>
					</div>
				</div>
				<div class="col l4 m6 s12">
					<div class="card z-depth-3">
						<div class="card-content">
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione incidunt quo maiores deleniti delectus iste odio porro necessitatibus laborum odit labore enim, omnis nihil. Cum dolore quae eaque quaerat perspiciatis!
						</div>
					</div>
				</div>
				<div class="col l4 m6 s12">
					<div class="card z-depth-3">
						<div class="card-content">
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione incidunt quo maiores deleniti delectus iste odio porro necessitatibus laborum odit labore enim, omnis nihil. Cum dolore quae eaque quaerat perspiciatis!
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<ul class="pagination center-align">
					<li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
					<li class="active cbcc-color"><a href="#!">1</a></li>
					<li class="waves-effect"><a href="#!">2</a></li>
					<li class="waves-effect"><a href="#!">3</a></li>
					<li class="waves-effect"><a href="#!">4</a></li>
					<li class="waves-effect"><a href="#!">5</a></li>
					<li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
				</ul>
			</div>
		</div>
	</div>
</div>


<footer class="page-footer teal">
	<div class="container">
		<div class="row">
			<h4 class="center-align font yellow-text text-darken-2"><b>CONTACT US</b></h4>
			<hr class="hr" style="border:solid rgba(0,0,0,0.20) 2px;">
		</div>
		<div class="row">
      		<div class="col s12 center-align" style="margin-bottom: 50px;">
				<i style="margin-left: 5px;margin-right: 5px;" class="fa fa-instagram fa-3x"></i>
       			<i style="margin-left: 5px;margin-right: 5px;" class="fa fa-facebook-square fa-3x"></i>
       			<i style="margin-left: 5px;margin-right: 5px;" class="fa fa-twitter-square fa-3x"></i>
        	</div>
       		<div class="col s12 center-align">
       			<p style="margin-top: -10px"><b>Faculty of Economics and Business, University of Brawijaya <br>Jl. MT. Haryono 165 Malang 65145</b></p>
       		</div>
      	</div>
    </div>
    <div class="footer-copyright">
     	<div class="container center-align">
      		by CBCC Heroes 2018
      	</div>
    </div>
</footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="js/owl.carousel.min.js"></script>
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>
  <script>
	  $('.owl-carousel').owlCarousel({
		loop:false,
		margin:10,
		nav:false,
		responsive:{
			0:{
				items:1
			},
			600:{
				items:2
			},
			1200:{
				items:3
			}
		}
	})
  </script>

  </body>
</html>
